{% extends 'base.html.twig' %}

{% block title %}HealthOne Recepten{% endblock %}

{% block body %}
  {% if recepten %}
    <table id="recepten" class="table table-striped">
      <thead>
        <tr>
          <th>Recept ID</th>
          <th>Recept Opgehaald</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        {% for recept in recepten %}
          <tr>
            <td>{{ recept.id }}</td>
            <td>{{ recept.opgehaald }}</td>
            <td>
              <a href="/recept/{{ recept.id }}" class="btn btn-primary">Show</a>
              <a href="/recept/edit/{{ recept.id }}" class="btn btn-dark">Edit</a>
              <a href="#" class="btn btn-danger delete-recept" data-id="{{ recept.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><b>Geef de ID van de recept</b></p>

    <form onSubmit="return process3();">
        <input type="text" id="url3" name="query" />
        <input type="submit" value="show" />
    </form>

  {% else %}
    <p>No recepten to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/deleteRowSecond.js"></script>
  <script src="/js/processInfo.js"></script>
{% endblock %}