{% extends 'base.html.twig' %}

{% block title %}{{ recept.id }}{% endblock %}


{% block body %}
<h1>{{ recept.id }}</h1>
<hr>
<p><b>ID: </b>{{ recept.id }}</p>
<p><b>Patientid: </b> <a href="{{ asset('patient/')}}{{recept.patientid}}">{{ recept.patientid }}</a></p>
<p><b>Medicijnid: </b> <a href="{{ asset('medicijn/')}}{{recept.medicijnid}}">{{ recept.medicijnid }}</a></p>
<p><b>Aantal: </b> {{ recept.aantal }}</p>
<p><b>Hoelang: </b> {{ recept.hoelang }}</p>
<p><b>Herhaling: </b> {{ recept.herhaling }}</p>
<p><b>Uitgeschreven: </b> {{ recept.uitgeschreven }}</p>
<p><b>Dokterid: </b> <a href="{{ asset('arts/')}}{{recept.dokterid}}">{{ recept.dokterid }}</a></p>
<p><b>opgehaald: </b> {{ recept.opgehaald }}</p>
<hr>
<a href="{{ asset('recept')}}">Go Back</a>
{% endblock %}