{% extends 'base.html.twig' %}

{% block title %}HealthOne Patienten{% endblock %}

{% block body %}
  {% if patienten %}
    <table id="patienten" class="table table-striped">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Patient Naam</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patienten %}
          <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.voornaam }}</td>
            <td>
              <a href="/healthone/public/patient/{{ patient.id }}" class="btn btn-primary">Show</a>
              <a href="/healthone/public/patient/edit/{{ patient.id }}" class="btn btn-dark">Edit</a>
              <a href="/healthone/public/patient/delete/{{ patient.id }}" class="btn btn-danger delete-patient" data-id="{{ patient.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <p><b>Geef de ID van de patient</b></p>

    <form onSubmit="return process4();">
        <input type="text" id="url4" name="query" />
        <input type="submit" value="show" />
    </form>

  {% else %}
    <p>No patienten to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="js/deleteRowThird.js"></script>
  <script src="js/processInfo.js"></script>
{% endblock %}