{% extends 'base.html.twig' %}

{% block title %}HealthOne Artsen{% endblock %}

{% block body %}
  {% if artsen %}
    <table id="artsen" class="table table-striped">
      <thead>
        <tr>
          <th>Arts ID</th>
          <th>Arts Naam</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        {% for arts in artsen %}
          <tr>
            <td>{{ arts.id }}</td>
            <td>{{ arts.voornaam }}</td>
            <td>
              <a href="/healthone/public/arts/{{ arts.id }}" class="btn btn-primary">Show</a>
              <a href="/healthone/public/arts/edit/{{ arts.id }}" class="btn btn-dark">Edit</a>
              <a href="/healthone/public/arts/delete/{{ arts.id }}" class="btn btn-danger delete-arts" data-id="{{ arts.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><b>Geef de ID van de arts</b></p>

    <form onSubmit="return process2();">
        <input type="text" id="url2" name="query" />
        <input type="submit" value="show" />
    </form>
    
  {% else %}
    <p>No artsen to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="js/deleteRowFourth.js"></script>
  <script src="js/processInfo.js"></script>
{% endblock %}