{% extends 'base.html.twig' %}

{% block title %}{{ medicijn.naam }}{% endblock %}

{% block body %}
 <h1>{{ medicijn.naam }}</h1>
 <hr>
 <p><b>ID: </b>{{ medicijn.id }}</p>
 <p><b>Naam: </b> {{ medicijn.naam }}</p>
 <p><b>Voordelen: </b> {{ medicijn.voordelen }}</p>
 <p><b>Nadelen: </b> {{ medicijn.nadelen }}</p>
 <hr>
 <a href="{{ asset('medicijn')}}">Go Back</a>
{% endblock %}