<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark blue darken-2">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="{{ asset('home') }}"><img src="{{ asset('images/healthone.png') }}" style="margin-right:20px;"
      alt="Logo van HealthOne"> HealthOne</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ asset('home') }}">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ asset('contact') }}">Contact</a>
      </li>
      {% endif %}


      <!-- Dropdown -->
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item dropdown right">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Beheer</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('medicijn') }}">Medicijn beheer</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('arts') }}">Arts beheer</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('patient') }}">Patient beheer</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('recept') }}">Recept beheer</a>
          {% endif %}
          {% if is_granted('ROLE_ARTS') %}
          <a class="dropdown-item" href="{{ asset('patient') }}">Patient beheer</a>
          {% endif %}
          {% if is_granted('ROLE_APOTHEKER') %}
          <a class="dropdown-item" href="{{ asset('recept') }}">Recept beheer</a>
          {% endif %}
        </div>
      </li>
      {% endif %}

      <!-- Dropdown -->
      {% if is_granted('ROLE_APOTHEKER') %}

      {% else %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">New</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('medicijn/new') }}">Nieuwe medicijn toevoegen</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('arts/new') }}">Nieuwe arts toevoegen</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('patient/new') }}">Nieuwe patient toevoegen</a>
          {% endif %}
          {% if is_granted('ROLE_VERZEKERING') %}
          <a class="dropdown-item" href="{{ asset('recept/new') }}">Nieuwe recept toevoegen</a>
          {% endif %}
          {% if is_granted('ROLE_ARTS') %}
          <a class="dropdown-item" href="{{ asset('recept/new') }}">Nieuwe recept toevoegen</a>
          {% endif %}
        </div>
      </li>
    </ul>
    {% endif %}
    {% endif %}
     </ul>

    <!-- Icon -->
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav xl-auto nav-flex-icons dropright" style="margin-right:15%;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item waves-effect waves-light" href="{{ path('logout') }}">Uitloggen</a>
        </div>
      </li>
    </ul>
    {% endif %}
  </ul>


    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->